<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" color="dark">
  <ion-card color="light">
    <div class='ion-padding'>
    <h4>This app uses an open API from</h4>
    <h2>NewsAPI.org</h2>
    </div>
  </ion-card>
  
  <ion-card color="light">
  <div class='ion-padding'>
    <h4>This app utilized references </h4>
    <h4>from tutorial at</h4>
    <p>sitepoint.com/ionic-4-angular-build-app/</p>
  </div>
  </ion-card>

  <ion-card>
    <ion-img src="..\assets\meme1.jpg"></ion-img>
  </ion-card>
  

</ion-content>